body {
    font-family: arial, sans-serif;
    background: #fff;
}
.header {
    display: inline;
}
ul {
    list-style-type: none;
}
.left-header {
    font-size: 8px;
    color: rgb(68, 65, 65);
    opacity: 0.77;
}
.main-nav {
list-style-type: none;
}
.left-header-link {
    float: left;
    padding: 8px;
}
a {
    display: block;
    color: rgb(92, 86, 86);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.right-header {
    font-size: 8px;
    color: rgb(68, 65, 65);
    opacity: 0.77;
}
.right-header-link {
    float: right;
    padding: 8px;
}
img {
    height: 93px;
    width: 275;
    vertical-align: middle;
    padding-top: 175px;
    padding-left: 372px;
}
.search-bar {
    vertical-align: middle;
    padding-left: 370px;
    padding-top: 25}
input {
    width: 575px;
    height: 45px;
    vertical-align: middle;
    border-radius: 25px;
    border-color: rgb(211, 199, 199);
    border-width: 1px;
}
footer {
    background-color: #f2f2f2;
    font-size: 14px;
    opacity: 0.75;
    display: inline;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    line-height: 16px;
    border-top: 1px solid #e4e4e4;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .left-footer {
    align-self: start;
    margin: 7px 0 0 10px;
  }
  .right-footer {
    text-align: right;
    align-self: flex-end;
    padding-right: 15px;
  }
  .left-footer-link {
      float: left;
      padding: 8px;
  }
.right-footer-link {
    float: right;
    padding: 8px;
}
button {
    border-radius: 5px;
    background-color: rgba(245, 244, 244, 0.836);
    box-shadow: none;
}
.search-buttons {
    width: 487px;
    list-style: none;
    padding-left: 535px;
    text-align: center;
    float: left;
    display: inline-block;
    margin: 20px 7px;
    cursor: pointer;
}
.a {
    float: left;
    padding: 8px;
}
.b {
    float: left;
    padding: 8px;
    margin-left: 10px;
}
button:hover {
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    color: #222;

}